p.speech{
    color:black;
    size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p.direction {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    size: 15px;

background-color: pink;
}

.direction:hover {
    background-color: darkseagreen;

}

.LANE{
    color:greenyellow;
}

.MRS{
    color:red;
}
table, th,td{
    border:1px solid;
    border-collapse: collapse;
    text-align: centre;
    color:blue;font-weight:bold;
    padding-top: 30px;
    padding-right:30px;
    padding-bottom:30px;
    padding-left:30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    
    }
    tr:nth-child(even) {
        background-color: pink;
    }

    .LANE:hover{ 
        text-shadow: 3px 3px orange;
    }
    .MRS:hover{
        text-shadow: 3px 3px blueviolet;
    }

    ul.navbar-horizontal {
        /* remove these */ 
        list-style-type: none;
        margin: 0; 
        padding: 0;
    }
    ul.navbar-horizontal li { 
        float:left;
        /* line up horizontally */
         color:#000;
          background-color:rgb(43, 198, 226);
        }
        ul.navbar-horizontal a { 
            display:block;
         padding:8px
        }
        /* on hover change the link color*/
    
    ul.navbar-horizontal a:hover {
         background-color: #555;
         color: white;
    }

    
